Backend/node_modules
Backend/public/build
Backend/public/hot
Backend/public/storage
Backend/storage/*.key
Backend/vendor
Backend/.env
Backend/.env.backup
Backend/.env.production
Backend/.phpunit.result.cache
Backend/Homestead.json
Backend/Homestead.yaml
Backend/auth.json
Backend/npm-debug.log
Backend/yarn-error.log
Backend/.fleet
Backend/.idea
Backend/.vscode
